<div>
  <table class="header">
    <thead>
      <tr>
        <th></th>
        <th>
          <h1>
            <span>Books</span>
          </h1>
        </th>
        <th>
          <button type="button" (click)="openModalFunction(newBookModalContent)">Add new book</button>
        </th>
      </tr>
    </thead>
  </table>>
</div>

<ngb-alert class="alert-error" [dismissible]="true" *ngIf="errorMessage">
	<strong>Warning! There are some validation errors</strong>
</ngb-alert>

<table class="container">
  <thead>
    <tr>
      <th><h1>Id</h1></th>
      <th><h1>Title</h1></th>
      <th><h1>Author</h1></th>
      <th><h1>Genres</h1></th>
    </tr>
  </thead>
  <tbody class="container-body">
    <tr *ngFor="let book of books" 
    placement="start" ngbTooltip="Click on the book to pass to the book details" 
    (click)="goToBook(book.id)">
      <td>{{book.id}}</td>
      <td>{{book.title}}</td>
      <td>{{book.author.fullName}}</td>
      <td>
        <ul *ngFor="let genre of book.genres">
            <li>{{genre.name}}</li>
        </ul>
      </td>
    </tr>
  </tbody>
</table>

<ng-template #newBookModalContent let-modal>

  <div class="modal-header">
    <h2 class="modal-title">Add new book</h2>
  </div>

  <div class="modal-body">
    <p>
      <label>Title</label><br>
      <input name="title" [(ngModel)]="title" />
    </p>
    <p>
      <label>Authors</label><br>
      <select name="authorId" [(ngModel)]="authorId">
        @for(author of authors; track $index){
          <option [value]="author.id">
            {{author.fullName}}
          </option>
        }
      </select>
    </p>
    <p>
      <label>Genres</label><br>
      <select name="genreIds" [(ngModel)]="genreIds" multiple="multiple">
        @for(genre of genres; track $index){
          <option [value]="genre.id">
            {{genre.name}}
          </option>
        }
      </select>
    </p>
  </div>

  <div class="modal-footer">
    <button type="button" class="btn btn-secondary" (click)="addBook()">Add</button>
    <button type="button" class="btn btn-secondary" (click)="closeModalFunction()">Close</button>
  </div>

</ng-template>