<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>Book library</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="/static/styles/global.css" th:href="@{/styles/global.css}">
    <link rel="stylesheet" type="text/css" href="/static/styles/main.css" th:href="@{/styles/main.css}">
    <link rel="stylesheet" type="text/css" href="/static/styles/table.css" th:href="@{/styles/table.css}">
    <link rel="stylesheet" type="text/css" href="/static/styles/books.css" th:href="@{/styles/books.css}">
    <link rel="stylesheet" type="text/css" href="/static/styles/button.css" th:href="@{/styles/button.css}">
    <link rel="stylesheet" type="text/css" href="/static/styles/form.css" th:href="@{/styles/form.css}">
    <link rel="stylesheet" type="text/css" href="/static/styles/errors.css" th:href="@{/styles/errors.css}">
    <link rel="icon" type="image/x-icon" href="favicon.ico">
</head>
<body>
<header th:insert="header :: navigation"></header>

<div>
    <h2>
        <span class="header-span">Update book</span>
    </h2>
</div>

<form action="update_book.html" th:action="@{/book/__${book.id}__}" th:method="post" th:object="${book}">
    <div>
        <label class="labels" for="id-input">Id</label><br>
        <input class="inputs" id="id-input" name="id" readonly="readonly" type="text" th:field="*{id}" />
    </div>
    <div>
        <label class="labels" for="title-input">Title</label><br>
        <input class="inputs" id="title-input" name="title" type="text" th:field="*{title}" />
        <div class="errors" th:if="${#fields.hasErrors('title')}" th:errors="*{title}">Wrong book title error</div>
    </div>
    <div>
        <label class="labels" for="author-input">Author</label><br>
        <select class="inputs" id="author-input" th:field="*{authorId}">
            <option value="0">Select author</option>
            <option th:each="author : ${authors}" th:value="${author.id}" th:text="${author.fullName}"></option>
        </select>
        <div class="errors" th:if="${#fields.hasErrors('authorId')}" th:errors="*{authorId}">Wrong book author error</div>
    </div>
    <div>
        <label class="labels" for="genres-input">Genres</label><br>
        <select class="inputs" id="genres-input" th:field="*{genreIds}" multiple="multiple">
            <option th:each="genre : ${genres}" th:value="${{genre.id}}" th:text="${genre.name}"></option>
        </select>
        <div class="errors" th:if="${#fields.hasErrors('genreIds')}" th:errors="*{genreIds}">Wrong book genres error</div>
    </div>

    <div class="footer">
        <button class="form-btn" type="submit">Update</button>
        <a href="books.html" th:href="@{/book-details/__${book.id}__}"><button class="form-btn" type="button">Close</button></a>
    </div>
</form>

</body>
</html>